
body { 
    background-image: linear-gradient(#ac7c74,#e9c6c4, #3f3e59, #0f111e);
    background-attachment: fixed;
}
#textBoxId {
    margin-top: 35px;
    width: 35%;
    height: 20px;
    z-index: 100;
    border-style: solid;
    text-align: center;
}
#submitBoxId {
    margin-top: 30px;
    height: 20px;
    z-index: 100;
    border-style: solid;
 }
 .flexCntr {
    display:flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
} 

#computerScreenCntr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
#catalinaCntr {
    position: absolute;
    top: 0;
    bottom: 300px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
#gifsCntr {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 150px;
    display: flex;
    justify-content: space-around;
}
.gifs {
    max-height: 425px;
    max-width: 750px;
    min-width: 100px;
    min-height: 100px;
}
.video {
    z-index: -1;
}
#computerImg {
    z-index: 50;
}
#catalinaImg {
    z-index: -10;
}
