#textBoxId {
    margin-top: 35px;
    width: 35%;
    height: 20px;
    z-index: 100;
}
#submitBoxId {
    margin-top: 30px;
    height: 20px;
    z-index: 100;
 }
 .flexCntr {
    display:flex;
    align-items: center;
    margin-top: 10rem;
    justify-content: center;
} 

#computerScreenCntr {
    /* background-color:  */
    /* z-index: 50: */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
#catalinaCntr {
    /* background-color:  */
    /* z-index: 50: */
    position: absolute;
    top: 0;
    bottom: 300px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}


#gifsCntr {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 150px;
    display: flex;
    justify-content: space-around;
}

/* parent element of .video is .gifs */
.gifs {
    max-height: 425px;
    max-width: 750px;
    min-width: 100px;
    min-height: 100px;
}
.video {
    z-index: -1;
}


#computerImg {
    z-index: 50;
}

#catalinaImg {
    z-index: -10;
}
/* @media only screen and (min-width:500px){
    form {
     width: 25%;
}
} */